<h1><%= @user.username %> posts: </h1>
<%#  links to all of the posts a user has commented on. %>
<ul>
    <% @user.posts.each do |post| %>
        <li>
            <%= link_to post.title, post_path(post) %>
        </li>
    <% end %>
</ul>