<%#  links to all of the posts associated with a given category. %>

<h1>Posts in <%= @category.name %></h1>

<ul>
    <% @category.posts.each do |post| %>
        <li>
            <%= link_to post.title, post_path(post) %>
        </li>
    <% end %>
</ul>

